---
import { Icon } from "astro-icon/components";
import { linksData } from "../data/layout/links";
import Link from "../layout/Link.astro";
import { type ILink } from "../data/layout/links";
---

<footer>
	<div class="flex flex-col gap-3 py-5 mb-5 border-y-[1px] border-blue-400">
		<Icon name="logo" width={116} height={24} />

		<nav>
			<ul class="flex flex-col gap-3">
				{
					linksData.map((link: ILink) => (
						<li>
							<Link title={link.title} url={link.url} />
						</li>
					))
				}
			</ul>
		</nav>
	</div>
</footer>
